services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      - APP_URL=${APP_URL}
      - GROQ_API_KEY=${GROQ_API_KEY}

  app:
    build: ./app
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${API_URL}
    depends_on:
      - server